/* reset */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
html , body{
	font-size: 16px;
	line-height: 1;
	background-color: #ffffff;
    font-family: Helvetica, Arial, "sans-serif";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* =====Col RESETS ======*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 4px;
    padding-left: 4px;
}

/* =====TAGs SET======= */
h1, h2, h3 , h4 {
    margin: 2px;
    padding: 0;
    font-weight: bold;
}
/* ==================== end reset==============================*/

/*======Page Layouts========*/
.container-fluid {
    width: 100%;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 1em;
    display: block;
 }
.view-fixed {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    z-index: 1000;
}
.contentBkGd {
    background-image: url("/img/grass.jpg");
    background-repeat: repeat;
}

.socialBar {
    background-color:#1a723a;
    width: 100%;
    float: left;
    color: #FFFFFF;
    margin: 4em auto 1em;
    padding: 5px;
    clear: both;
}
p {
    font-family: Helvetica, Arial, "sans-serif";
    font-size: 1.25em;
    font-weight: 700;
    line-height: 2em;
    padding-bottom: .5em;
    margin-bottom: 1.5em;
}
@font-face {
    font-family: amienneBold;
    src: url("../fonts/amienne-bold.ttf");
    format("truetype");
    font-size: 18px;
}
.fancyFont {
    font-family: amienneBold, sans-serif;
    font-size: 1.5em;
}
.navbar-brand{
    padding:10px 10px;
    font-size:18px;
}
.LG-Blue {
    color: #4A6EB4;
}
.LG-Green {
    color: #1a723a;
}
.LG-yellow {
    color: #fdfdcd;
}
.LG-bkgrd-yellow {
    background-color: #fdfdcd;
}
.white {
    color: #ffffff;
}
.black {
    color: black;
}
.gold {
    color: goldenrod;
}
.blackBkGrd {
    background-color: #000;
}
.large {
   font-size: 1.75em;
}
.hugePrt {
    font-size: 2.5em;
    padding: 0;
    margin-top: 0;
}
.colBkGrd {
    background-color: #ffffff;
    -webkit-box-shadow: 8px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 8px 10px rgba(0,0,0,0.4);
    box-shadow: 8px 10px rgba(0,0,0,0.4);
    margin: 0 .5em;
}
blockquote {
    margin: .5em 2em 3em;
    line-height: .9em;
    font-size: .8em;
    border-left: thick solid #dadada;
    padding-left: 1.5em;
}
blockquote footer {
    font-size: 1.25em;
    font-weight:bold;
    margin-left: 2em;
}
.inlineStyle{
	display: inline;
}
.centered {
    margin: 0 auto;
    text-align: center;
}
.clearBoth {
    position: relative;
    clear: both;
    clear-after:both;
    width: 100%;
}
.floatLeft {
    float: left;
    margin-left: 5px ;
}
.floatRight {
   float: right;
    margin-right: 1em;;
}
.floatDown {
     margin-top: 1em;
 }
.floatEven {
    padding: .5em;
}
.logoAlign {
    margin-left: 0;
}
.pushRight {
    margin-left: 3em;
}
.hugeFloatDown {
    margin-top: 3em;
}
.noWrap {
    white-space: nowrap;
}
.boldMe {
    font-weight: bold;
}
.list-unstyled {
    padding-bottom: 2em;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.75;
}
.footer {
    margin: 1.5em auto;
    color: #4A6EB4;
 }
/*======Navigation========*/
.navbar.navbar-default{
	color: #1a723a;
    background-color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	width: 100%;
    border: none;
    float: right;
    z-index: 1;
}
.navbar-default .navbar-nav > li > a {
	color: #1a723a;
	font-size: 1.2em;
    font-weight: bold;
    float: right;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
    color: #4A6EB4;
    font-size: 1.2em;
    font-weight: bold;
  }

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
    background-color: #4A6EB4;
    color: gold;
    border: ridge thin black;
}
.navbar-default button .navbar-toggle .collapsed {
    background-color:#4A6EB4;
    color: gold;
}
.dropdown-menu {
    color: #1a723a;
    background-color: #fdfdcd;
    font-size: 1em;
    font-weight: bold;

}
.navbar-collapse-menu.collapse {
    background-color:#fdfdcd;
    color: gold;
    overflow: visible;
}
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
 {
    background-color:#4A6EB4;
    color: gold;
    overflow: visible;
}
/* =====Media Query Sizing=======*/
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    /*fix dropdown*/
    .navbar-default .navbar-nav .open .dropdown-menu > ul  {
       border: gray;
        color: gold;
        -webkit-box-shadow: 5px 5px 5px 5px #3c3c3c;
        box-shadow: 5px 5px 5px 5px #3c3c3c;
    }
    .navbar-default .navbar-collapse {
        border-color: transparent;
        background-color: lightgrey;
        margin-top: .05em;
        max-width: 15em;
        float: right;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid lightgray;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/*======Tables========*/
.table {
    width: 90%;
    margin: 1em auto 2em;
}
table th {
    font-size: large;
    font-weight: 800;
    text-align: center;
    background-color: #4A6EB4;
    color: white;
}
table td {
    padding-left: 2em;
    font-weight: 700;
}

