<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" data-ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" data-ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" data-ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" data-ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Live Green Irrigation</title>
    <meta name="description" content="Environmentally conscious Irrigation company in South-Western Ontario.  We specialize
    in installation and service of residential and commercial landscape watering systems.">
    <meta name="keywords" content="Irrigation installation in Grand Bend, Irrigation installation in Lambton Shores,
    Irrigation installation in Grand Bend, ">
    <meta name="author" content="Websites by KBS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="libs/normalize.css" type="text/css" media="all">-->
    <link rel="stylesheet" href="libs/Bootstrap-3.3.4/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/custom.css">
    <!-- endbuild -->
    <link rel="icon" href="img/favicon.png" type="image/gif" sizes="16x16">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->
</head>
<!-- ==================== BODY ======================================== -->
<body class="container-fluid">
<header class="view-fixed">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <a class="navbar-brand" href="#/">
                <h3 class="LG-Green floatLeft fancyFont hugePrt">Live Green Irrigation</h3>
            </a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
            <a href="https://www.facebook.com/LiveGreenIrrigation" target="_blank">
                <img src="img/facebook.png" class="floatRight" alt="Facebook Icon"></a>
            <a href="https://ca.linkedin.com/pub/korey-dike/5a/175/149"
               target="_blank">
                <img src="img/linkedin.png" class="floatRight" alt="Linked In Icon"></a>
        </div>
        <div class="col-md-6 col-lg-6">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span>&nbsp;&nbsp; Menu&nbsp;&nbsp;  </span>
                        <span class="caret"></span>
                    </button>
                </div>
                <div class="inlineStyle" data-ng-controller="menuCtrl">
                    <!--Collect the nav links, forms, and other content for toggling-->
                    <div class="collapse navbar-collapse" id="collapse-1">
                        <ul class="nav navbar-nav">
                            <li data-ng-repeat="menu in menus" class="lg-green">
                                <a href=" #/{{ menu.route }}">
                                    {{menu.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</header>
<!-- ====================== SECTION ====================================== -->

<section class="container-fluid">
    <div class="row hugeFloatDown">
        <div class="col-xs-12 col-sm-11 col-md-6 col-lg-8">
            <a href="#/">
                <img src="img/LGILogo.png" class="centered img-responsive"
                     alt="Live Green Irrigation Logo">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 centered">
            <h4 class="large LG-Blue hugeFloatDown centered">"We Want to Help You LIVE GREEN<br>and Look Great Doing
                It."</h4>
        </div>
    </div>

</section>
<!-- ================= MAIN AREA =========================================== -->

<main class="container-fluid">
    <div data-ng-view></div>
</main>
<!-- ================== FOOTER ========================================== -->
<footer class="container-fluid footer">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pushRight">
            <span class="glyphicon glyphicon-copyright-mark"></span> 2015 Live Green Irrigation | All Rights
            Reserved
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <a href="http://www.websitesbykbs.com" class="LG-Blue floatRight"> Design by Websites by KBS</a>
        </div>
    </div>
</footer>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular/angular-route.min.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers/menu-controller.js"></script>
<script src="libs/jquery_2.1.3.min/jquery-2.1.3.min.js"></script>
<script src="libs/Bootstrap-3.3.4/js/bootstrap.min.js"></script>
<script src="libs/Bootstrap-3.3.4/js/dropdown-toggle.min.js"></script>

</body>
</html>
