<!--=====Contact Page=====-->
<section class="container-fluid">
    <div class="row centered">
        <h2 class="gold"><span class="glyphicon glyphicon-phone LG-Blue"></span> CONTACT INFO</h2>
    </div>
    <div class="row floatDown">
        <div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1 centered">
            <h3 class="centered boldMe loveHateRed">Address</h3>
            <address>
                Grand Bend, Ontario<br>
            </address>

            <div class="row floatDown">
                <h4><span class="glyphicon glyphicon-phone"></span> Phone
                    <a href="tel: +015198572982">(519) 857-2982</a></h4>
            </div>
            <div class="row floatDown">
                <h4><span class="glyphicon glyphicon-envelope"></span>
                    <a href="mailto:korey@livegreenirrigation.com">Email</a></h4>
                <br>
            </div>
            <div class="row hugeFloatDown">
                <h2 class="centered boldMe gold">SUPPLIER LINKS</h2>
            </div>
            <div class="row floatDown centered">
                <a href="http://www.rainbird.com/"
                   title="Rain Bird" target="_blank">
                    <img src="/img/rainbirdlogo_black200x37.png" alt="Rain Bird Logo">
                </a>
            </div>
            <div class="row floatDown centered">
                <a href="http://www.hunterindustries.com/" title="Hunter" target="_blank">
                    <img src="img/Hunter_Logo_black200x46.png" alt="Hunter Logo"></a>
            </div>
            <div class="row floatDown centered">
                <a href="http://www.fxl.com/" title="FXLuminaire"
                   target="_blank"><img src="/img/FX_Logo_color200x31.png" alt="FXLuminaire Logo">
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1 centered floatRight">
            <h3>Sign up for our Newsletter Here</h3>


        </div>
    </div>
</section>