<!--=====Testimonial Page=====-->
<main class="container">
    <div class="row centered">
        <h2 class="gold"><span class="glyphicon glyphicon-picture LG-Blue"> </span> Photo Gallery</h2>
    </div>
    <div class="row floatDown">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/Pro-C-studio-1024x685.jpg" alt="Controller">

                        <div class="caption">
                            <h3 class="boldMe LG-Blue">CONTROLLER</h3>

                            <p> The Brain of the system, and runs the system automatically all summer for a worry
                                free summer<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/PGV-100G-1024x685.jpg" alt="Valves">

                        <div class="caption">
                            <h3 class="boldMe LG-Blue">VALVES</h3>

                            <p>Are turned on by the timer and send water to different areas of your landscape</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/ROAM-Kit1-1024x685.jpg" alt="Remote Controll">

                        <div class="caption">
                            <h3 class="boldMe LG-Blue">REMOTE CONTROL</h3>

                            <p>Wireless device that allows you to turn on the system from anywhere on your
                                property</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/Solar-Sync-Transmitter-Installed1-1024x686.png" alt="Rain Sensor">

                        <div class="caption">
                            <h3 class="boldMe LG-Blue">RAIN SENSOR</h3>

                            <p>Solar Sync Weather sensor detect Sun, Rain, temperature and adjust system
                                automatically</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/comm_spray_4.jpg" alt="House Spray Sprinkler">

                        <div class="caption">
                            <h3 class="boldMe LG-Blue">SPRAY HEAD</h3>

                            <p>Rain Bird 1800 series, used for small grass and garden areas</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/5000_HouseSpray.jpg" alt="MP Rotors">

                        <div class="caption">
                            <h3 class="boldMe LG-Blue">MP ROTORS</h3>

                            <p>Used anywhere, visually pleasing, and uses a third less water.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/Micro-Srpy-photo.jpg" alt="Micro-Spray Heads">

                        <div class="caption">
                            <h3 class="boldMe LG-Blue">MICRO SPRAY</h3>

                            <p>Used in planters, hanging baskets and hard to reach areas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>