<!--=====Services Page=====-->
<section class="container">
    <div class="row centered">
        <h2 class="gold"><span class="glyphicon glyphicon-tint LG-Blue"></span> SERVICES</h2>
    </div>
    <div class="container">
        <div class="row">
            <p>
            <span class="LG-Green large">Live Green Irrigation</span>
                offers complete services for sprinkler systems and landscape lighting. From the start of the
                installation to the annual service and maintenance, Live Green Irrigation has you covered.
            </p>

            <h3 class="gold">INSTALLATION</h3>

            <p>
                At Live Green Irrigation, we design and install lawn sprinklers and landscape lighting. Korey
                Dike, the owner comes to your property; he evaluate your irrigation needs and your landscape needs, and
                gives you a free estimate which is guaranteed to remain as quoted. Once you have decided to proceed, we take
                care of the rest, from getting a licensed plumber to tap into your water source, to calling the
                utilities before we dig. We use a Ditch Witch pipe puller which allows for trenchless installation
                of the irrigation pipe. We install only contractor-grade sprinkler heads, valves, timers and other
                materials to make sure that your system will last for many years to come.
            </p>

            <h3 class="gold">MAINTENANCE AND SERVICE</h3>

            <p>
                Live Green Irrigation offers a complete range of services to keep your irrigation system working
                properly
                long after the installation is finished. There are two main types of services required for lawn
                sprinkler systems:
            <ul class="list-unstyled">
                <li class="list-unstyled"><span class="glyphicon glyphicon-leaf LG-Green"></span> A Spring Start-up involves the annual opening of the irrigation system. We check the main
                    valves, turn on the main water, set the timer, change the battery backup, and adjust the
                    sprinkler heads.
                </li>
                <li class="list-unstyled"><span class="glyphicon glyphicon-leaf gold"></span> A Fall Blow-out (usually sometime between October and November) which involves pumping
                    compressed air
                    through your irrigation pipes and heads to remove all the water so that it does not freeze over
                    the winter.
                </li>
            </ul>
            <p>
                Have an existing system? Live Green Irrigation will also gladly service all types of existing
                systems.
            </p>
        </div>
    </div>
</section>

